<tr id="comment-<%= comment.id %>" class="border-b">

  <div class="flex items-start space-x-4">
      <td class="w-16">
        <%= image_tag comment.user.profile.url, class: "w-12 h-12 rounded-full" %>
      </td>
    <div class="flex-1">
      <div class="h-2 shadow">
        <h3 class="text-xs font-normal text-gray-900">
          <%= comment.user.name %>
        </h3>
      </div>
      <div class="bg-gray-50 rounded-lg p-4 shadow">
        <p class="text-sm text-gray-700 leading-relaxed">
          <%= simple_format(comment.body) %>
        </p>
      </div>
      <div class="flex items-center">
        <div class="ml-auto">
          <%= link_to comment_path(comment),
                      id: "button-delete-comment-#{comment.id}",
                      data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') },
                      class: "js-delete-comment-button inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-100 text-red-600
                              hover:bg-red-500 hover:text-white transform transition-all duration-300 ease-in-out
                              hover:scale-110 shadow-sm hover:shadow-lg" do %>
            <i class="bi bi-trash-fill text-lg"></i>
          <% end %>
        </div>
      </div>
      <p class="text-xs text-gray-500 mt-1"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
    </div>
  </div>
</tr>
